@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome to the Internet Pc Part Database!</h1>
                        
    <button class="bg-info rounded">
        <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Index">Browse Parts</a>
    </button>
        <button class="bg-info rounded">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Add">Add Part +</a>
    </button>
</div>

<div class=image123>
    <div>
        <p>CPUs</p>
        <img src=~/css/cpustockimage.jpg />
    </div>
    <div>
        <p>CPU Coolers</p>
        <img src=~/css/cpucoolerstockimage.jpg />
    </div>
    <div>
        <p>Motherboards</p>
        <img src=~/css/motherboardstockimage.jpg />
    </div>
    <div>
        <p>RAM</p>
        <img src=~/css/ramstockimage.jpg />
    </div>
    <div>
        <p>Storage Devices</p>
        <img src=~/css/harddrivestockimage.jpg />
    </div>
    <div>
        <p>Graphics Cards</p>
        <img src=~/css/gpustockimage.jpg />
    </div>
    <div>
        <p>Cases</p>
        <img src=~/css/pccasestockimage.jpg />
    </div>
    <div>
        <p>Power Supplies</p>
        <img src=~/css/psustockphoto.jpg />
    </div>
    <div>
        <p>Displays</p>
        <img src=~/css/pcmonitorstockphoto.jpg />
    </div>
    <div>
        <p>Sound Cards</p>
        <img src=~/css/soundcardstockphoto.jpg />
    </div>
    <div>
        <p>Network Cards</p>
        <img src=~/css/networkcardstockphoto.jpg />
    </div>
    <div>
        <p>Headphones</p>
        <img src=~/css/headphonesstockphoto.jpg />
    </div>
    <div>
        <p>Keyboards</p>
        <img src=~/css/keyboard.jpg />
    </div>
    <div>
        <p>Mice</p>
        <img src=~/css/pcmousestockphoto.jpg />
    </div>
</div>




