@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome to the Internet Pc Part Database!</h1>
                        
    <button class="bg-info rounded">
        <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Index">Browse Parts</a>
    </button>
        <button class="bg-info rounded">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Add">Add Part +</a>
    </button>
</div>

<div class=text-center>
    <img src=~/css/pcparts.jpg class=img-thumbnail alt="Responsive Image" />
</div>




