@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome to the Internet Pc Part Database!</h1>
                        
    <button class="bg-info rounded">
        <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Index">Browse Parts</a>
    </button>
        <button class="bg-info rounded">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Add">Add Part +</a>
    </button>
</div>

<div class=image123>
    <div class="imgContainer">
        <div>
            <img src=~/css/cpustockimage.jpg />
        </div>
        <div class="imgButton">
            <button class="mybutton">
                <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="CPUs">Browse CPUs</a>
            </button>
            </div>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/cpucoolerstockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Coolers">Browse Coolers</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/motherboardstockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Motherboards">Browse Motherboards</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/ramstockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="RAM">Browse RAM</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/harddrivestockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="StorageDevices">Browse Storage</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/gpustockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Graphics">Browse Graphics Cards</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/pccasestockimage.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Cases">Browse Cases</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/psustockphoto.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="PSUs">Browse PSUs</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/pcmonitorstockphoto.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Monitors">Browse Monitors</a>
        </button>
        <div class="img-div">
        </div>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/networkcardstockphoto.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Network">Browse Network Devices</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/headphonesstockphoto.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Headphones">Browse Headphones</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/keyboard.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Keyboards">Browse Keyboards</a>
        </button>
    </div>
    <div class="imgContainer">
        <div>
            <img src=~/css/pcmousestockphoto.jpg />
        </div>
        <button class="imgButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Mice">Browse Mice</a>
        </button>
    </div>
</div>




