@using Microsoft.EntityFrameworkCore
@inject IHttpContextAccessor SessionData
@inject InternetPcPartDatabase.Data.PartContext db

@{ 
    int? userID = SessionData.HttpContext.Session.GetInt32("UserId");
    string username = null;
    if (userID.HasValue)
    {
        string sessionUserName = SessionData.HttpContext.Session.GetString("Email");
        if (sessionUserName == null)
        {
            username = await (from u in db.UserAccounts
                              where u.UserAccountId == userID
                              select u.Email).SingleOrDefaultAsync();
            SessionData.HttpContext.Session.SetString("UserId", username);
        }
        else
        {
            username = sessionUserName;
        }
    }
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome to the Internet Pc Part Database!</h1>
                        
    <button class="bg-info rounded">
        <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Index">Browse Parts</a>
    </button>

    @if (userID != null)
    {
        <button class="bg-info rounded">
            <a class="nav-link text-dark" asp-area="" asp-controller="Part" asp-action="Add">Add Part +</a>
    </button>
    }
</div>

<div class=text-center>
    <img src=~/css/pcparts.jpg class=img-thumbnail alt="Responsive Image" />
</div>



